version: '3.9'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - /dev/dri:/dev/dri  # Intel GPU device
    devices:
      - /dev/dri:/dev/dri  # Intel GPU access
    environment:
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_INTEL_GPU=1  # Habilita Intel GPU
      - OLLAMA_FLASH_ATTENTION=1
      - OLLAMA_CONTEXT_LENGTH=2048
    group_add:
      - video  # Acesso ao grupo video para GPU

  gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    restart: unless-stopped

  rag_service:
    build: ./rag_service
    container_name: rag_local_service
    environment:
      - OLLAMA_URL=http://ollama:11434
      - OLLAMA_EMBED_MODEL=nomic-embed-text
      - CHROMA_PATH=/data/chroma
    volumes:
      - rag_data:/data
      - ./rag_service/pdfs:/app/pdfs
    depends_on:
      - ollama
    ports:
      - "8002:8002"
    restart: unless-stopped

  agente_agronomico:
    build: ./agente-agronomico
    container_name: agente_agronomico
    depends_on:
      - gateway
      - rag_service
      - ollama
    environment:
      - GATEWAY_URL=http://gateway:3000
    ports:
      - "8001:8001"


volumes:
  ollama_data:
  rag_data: