version: '3.8'
services:
  app:
    build: .
    ports:
      - "8001:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432  
      - DB_NAME=cafequality
      - DB_USER=postgres
      - DB_PASSWORD=password
    depends_on:
      - db
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - agronet

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=cafequality
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5435:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - agronet

volumes:
  postgres_data:

networks:
  agronet:
    external: false